Markdown==2.2.0
apipkg==1.2
beautifulsoup4==4.1.1
bottle==0.10.11
freebase==1.0.8
lxml==2.3.4
mwlib==0.14.0
py==1.4.9
pyPdf==1.13
pyparsing==1.5.6
qserve==0.2.8
requests==0.13.3
roman==1.4.0
simplejson==2.6.0
sparql-client==0.11
sqlite3dbm==0.1.4
timelib==0.2.3
tornado==2.3
wsgiref==0.1.2
