{% extends "base.html" %}

{% block extrahead %}
<link href='http://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shanti' rel='stylesheet' type='text/css'>
<style>
body {font-family: 'Shanti', sans-serif;}
.container {padding-top:20px;}
h1.splash-title {font-size:650%;line-height:150%;margin-bottom:50px;text-align:center; }
h2.splash-title {font-size:300%; line-height:125%;font-weight:400;}
#signup-input {font-size:150%;line-height:120%;height:100%;}
#top-half-container {
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(left, #FFFFFF 0%, #EEEEEE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #FFFFFF 0%, #EEEEEE 100%);

/* Opera */ 
background-image: -o-linear-gradient(left, #FFFFFF 0%, #EEEEEE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #EEEEEE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #EEEEEE 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to right, #FFFFFF 0%, #EEEEEE 100%);
padding-bottom:20px;
}

.funny-text {font-size:320%;line-height:140%;text-align:right; margin-top:20px;}
#splash-arrow {
position:relative;
right:75px;
transform:rotate(55deg);
-ms-transform:rotate(55deg); /* IE 9 */
-moz-transform:rotate(55deg); /* Firefox */
-webkit-transform:rotate(55deg); /* Safari and Chrome */
-o-transform:rotate(55deg); /* Opera */
}
#ios-icon {position:relative; bottom:7px;}
#signup-button {font-size:200%;}

</style>
{% end %}
{% block body %}
<div id="top-half-container">
  <div class="container">
	<div class="row">
	  <div class="span6">
		<img src="/static/img/ipad.png" />
	  </div>
	  <div class="span6">
		<h1 class="splash-title">Magic <br>Mirror</h1>
		<a class="btn btn-large btn-primary span4" href="#myModal" data-toggle="modal" id="signup-button">Sign up now</a>
	  </div>
	</div>
  </div>
</div>
<div id="bottom-half-container">
  <div class="container">
	<p class="funny-text">	<img id="splash-arrow" src="/static/img/arrow.png" />The first app for ambient informational displays</p>
  </div>
</div>
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
	  <ul class="nav pull-right">
		<li><img id="ios-icon" src="static/img/ios.png" /></li>
	  </ul>
    </div>
  </div>
</div>
<form action="" method="POST">
  <div class="modal hide" id="myModal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal">×</button>
	  <h3>We'll get back to you when we launch.</h3>
	</div>
	<div class="modal-body">
	  <input name="email" id="signup-input" class="span4" type="text" placeholder="Leave us your email..."/>
	</div>
	<div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Thanks!" />
	</div>
  </div>
</form>
{% end %}
